<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finded Stidents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/" >
          <img class="bg-primary" src="static/images/logo.png" alt="" width="150" height="30"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if 'username' in session %}
              <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              {%if stdx %}
              <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/findmentor">Find a Mentor</a>
              </li>
              <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/postformentor">Posting For Mentor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/blogs">Blogs</a>
               </li>
              {%endif%}
              {%if mentx %}
             <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/findstudents">Find Students</a>
             </li>
             {%endif%}
             <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/howitwork">How It Works</a>
             </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" href=""><span>{{session["username"]}}</span></a>
              <ul class = "dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                {% if stdx %}
                 <li><a class="text-decoration-none" href="/stdprofile">Profile</a></li>
                 <li><a class="text-decoration-none" href="/stdpost">Post about us</a></li>
                 <li><a class="text-decoration-none" href="/logout">Logout</a></li>
                 {% else %}
                 <li><a class="text-decoration-none" href="/mentorprofile">Profile</a></li>
                 <li><a class="text-decoration-none" href="/postblog">Blog post</a></li>
                 <li><a class="text-decoration-none" href="/mentorpost">Post about us</a></li>
                 <li><a class="text-decoration-none" href="/logout">Logout</a></li>
                {% endif %}
              </ul>
             </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/findmentor">Find a Mentor</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/postformentor">Posting For Mentor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/findstudents">Find Students</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/blogs">Blogs</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/howitwork">How It Works</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/login">Login</a>
                </li>
              {%endif%}
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <section  style="margin-top: 100px;" class="container">
        <div class="m-5">
          <h2 class="text-center">Mentorss </h2>
          <h3 class="text-center">Result: {{cnt}} </h3>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4"> 
          {% for i in range(cnt)%}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{name[i]}}</h5>
                <table>
                  <tr>
                    <td>Name:</td>
                    <td>{{name[i]}}</td>
                  </tr>
                  
                    <td>M. Salary:</td>
                    <td>{{salary[i]}}</td>
                  </tr>
                  <tr>
                    <td>Gender:</td>
                    <td>{{gender1[i]}}</td>
                  </tr>
                  <tr>
                    <td>Method:</td>
                    <td>{{tmethod[i]}}</td>
                  </tr>
                  <tr>
                    <td>Tutoring Area:</td>
                    <td>{{area1[i]}}</td>
                  </tr>
                  <tr>
                    <td>Subjects:</td>
                    <td>{{subjects1[i]}}</td>
                  </tr>
                  <tr>
                    <td>Class:</td>
                    <td>{{classes1[i]}}</td>
                  </tr>
                  <tr>
                    <td>Medium:</td>
                    <td>{{medium1[i]}}</td>
                  </tr>
                </table>
                  <div class = "d-flex justify-content-center">
                    <button type="submit" class="mt-2 "><a class= "text-decoration-none text-dark" href="/request_student/{{id[i]}}">Request</a></button>
                  </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
  </section>
    {% include "footer.html"%}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>