<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Mentor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/virtual-select.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <section  class="container">
        <div class="dg-light d-flex justify-content-center mt-5">
            <div>
                <h1><strong>Mentors</strong></h1>
            </div>
        </div>
    </section>
    <section class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Mr. Jahid Hasan</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nisi commodi assumenda cumque ex laborum nihil nulla vero. Dignissimos fugit quisquam voluptas delectus esse non corporis maiores, corrupti eos sequi.</p>
                  <button type="submit" class="btn btn-secondary">Request</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Alamgir</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque vitae animi optio, debitis beatae hic nulla dolores, cupiditate voluptas saepe doloremque, veniam fuga magnam laboriosam velit iste itaque ex amet.</p>
                  <button type="submit" class="btn btn-secondary">Request</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nasim Uddin</h5>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam non, temporibus quibusdam, laborum maiores voluptates eius reiciendis expedita quasi exercitationem eaque pariatur veniam dolorem adipisci minus nemo distinctio ex eligendi.</p>
                  <button type="submit" class="btn btn-secondary">Request</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Asadullah</h5>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam obcaecati nulla consectetur. Earum animi aperiam minus in vel. Laborum eveniet quia eius impedit sapiente provident. Modi aliquam tempora ipsa obcaecati.</p>
                  <button type="submit" class="btn btn-secondary">Request</button>
                </div>
              </div>
            </div>
          </div>
    </section>
    {% include "footer.html"%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/js/virtual-select.min.js"> </script>

</body>
</html>